    /* ---------------    SAIPRASAD         -------------------- */

    body {
        background-color: #E3E6E3;
      }
  
      #navbar-black {
        width: 80%;
        margin: auto;
        display: flex;
        background-color: #4a4a4aba;
        color: white;
        justify-content: space-between;
      }
  
      #tabs {
        display: flex;
      }
  
      #tabs>p {
        padding: 8px 8px 8px 8px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: white;
      }
  
      #tabs>p:first-child {
        background-color: #333333;
      }
  
      #tabs>p:hover,
      #all:hover {
        background-color: #333333c0;
        cursor: pointer;
        color: white;
      }
  
      #all {
        padding: 10px 20px 0px 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
      }
  
      .btn {
        height: 100px;
        width: 80%;
        background-color: #444444;
        display: flex;
        margin: auto;
      }
  
      .btn>button {
        border: none;
        border-radius: 20px;
        background-color: #333333;
        color: white;
        height: 30px;
        margin-left: 30px;
        margin-top: 10px;
        padding-bottom: 20px;
        padding-top: 8px;
        padding-left: 30px;
        padding-right: 30px;
      }
  
      .btn>button:focus {
        background-color: white;
        color: black;
  
      }
  
  
  
  
      /* ------------------SAIPRASAD FINISH --------------------------------- */
      /*----------------------- KUSHAGRA START---------------------------------------- */
      #Lbox {
        width: 15%;
        display: grid;
        grid-template-columns: repeat(1 1fr);
        grid-template-rows: repeat(10 100px);
        margin-left: 149px;
        background-color: white;
        margin-top: 8px;
        padding-left: 8px;
        padding-right: 10px;
      }
  
      #Lbox>div>p {
        color: grey;
      }
  
      h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #009270;
      }
  
  
  
      p {
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
      }
  
      i {
        color: blue;
      }
  
      /*The Photos Section...  */
      #Lbox1 {
  
        margin-top: 8px;
        width: 15%;
        display: grid;
        grid-template-columns: repeat(1 1fr);
        grid-template-rows: repeat(6 200px);
        gap: 10px;
        margin-left: 149px;
        background-color: white;
        padding-left: 8px;
        padding-right: 10px;
        align-items: center;
  
      }
  
      #Lbox1>div {}
  
      #Lbox1>div {
        border: none;
      }
  
      #Lbox1>div>a {
        color: black;
      }
  
  
      img {
  
        margin-left: 26px;
        border-radius: 10px;
        margin-top: 15px;
  
      }
  
      img+p {
  
        margin: auto;
        text-align: center;
        color: black;
      }
  
      p+h5 {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
  
      /* Schedule Section */
      #Lbox2 {
        width: 15%;
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 120px);
        margin-left: 149px;
        background-color: white;
        text-align: center;
        padding-left: 8px;
        padding-right: 10px;
  
  
      }
  
      #Lbox2>p {
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
      }
  
      i {
        color: blue;
      }
  
      a {
        text-decoration: none;
        color: black;
      }
  
      a:hover {
        text-decoration: underline;
      }
  
  
  
      /*----------------------- KUSHAGRA finish---------------------------------------- */