 /* <-----------------HEADER SECTION ------------------------------------------>*/
 #HEADER{
    height: 90px;
 }
 .head {
    box-sizing: border-box;
    background-color: #009270;
   width: 942px;
   margin-left: 200px;
    display: flex;
    flex-direction: row;
    height: 55px;
   
   
}
#owl{
    display: grid;
    grid-template-columns: repeat(10,70px);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;

}
.menu{
    width: 80%;
    height: 50px;
    margin: auto;
}

.head :hover {
    cursor: pointer;
}

.logo {
    width: 10%;
    margin-top: 8px;
    
    padding-left: 10px;

    /* padding-top: 7px; */
   

}

.lists {
   
    
}


.dropbtn {
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 22px;
    padding-left: 5px;
    padding-right: 5px;

}

.menu a {
    color: #fff;
    text-decoration: none;
    
}


.dropdown .dropbtn {
    font-size: 16px;
    color: white;
    border: none;
    background-color: transparent;
}

.head a:hover {
    background-color: #028062;
    text-decoration: none;
}

.dropdown:hover {
    background-color: #028062;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#CP {
    font-size: 15px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid white;
    margin-top: 15px;
    background-color: white;

}

.dropbtn {
    display: flex;
}

#search {
    color: white;
    margin-left: 10px;
    margin-top: 20px;

}

#profile {
    margin-left: 10px;
    color: white;
    
    margin-top: 20px;
}

/* AMAN end */
/* ---------------    SAIPRASAD         -------------------- */


#navbar-black {
    width: 942px;
    height: 35px;
    margin: auto;
    display: flex;
    background-color: #4a4a4aba;
    color: white;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 200px;
    font-size: 15px;
}

#tabs {
    display: flex;
}

#tabs>p {
    padding: 8px 8px 8px 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

#tabs>p:first-child {
    background-color: #333333;
}

#tabs>p:hover,
#all:hover {
    background-color: #333333c0;
    cursor: pointer;
    color: white;
}

#all {
    padding: 10px 20px 0px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.btn {
    height: 100px;
    width: 80%;
    background-color: #444444;
    display: flex;
    margin: auto;
}

.btn>button {
    border: none;
    border-radius: 20px;
    background-color: #333333;
    color: white;
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn>button:focus {
    background-color: white;
    color: black;

}




/* ------------------SAIPRASAD FINISH --------------------------------- */
/* <-----------------HEADER SECTION ------------------------------------------>*/

.banner {
    width: 70%;
    height: 300px;
    background-color: black;
    box-sizing: border-box;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: space-between;

}

.info {
    color: #fff;
    margin-left: 40px;
    margin-top: 10px;
    height: 280px;

}

.info div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 70px;
}

button {
    color: #fff;
    width: 200px;
    height: 30px;
    font-size: 15px;
    padding: 5px 0;
    background: #009270;
    border: 0;
    border-radius: 3px;
    outline: none;

}

.photo {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 90px;
}

.photo img {
    width: 100%;
}

.splide__arrow--next svg {
    position: relative;
    top: 0;
    left: 40px;
}

.splide__arrow--prev svg {
    position: relative;
    top: 0;
    right: 45px;
}

.container {
    width: 70%;
    margin: auto;
}

.box {
    width: 230px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 0.5px solid grey;
    gap: 10px;
}

.outer {
    background-color: #fff;
    width: 70%;
}

.product-img {
    width: 230px;
    height: 110px;
}

.product-info {
    height: 170px;
    width: 230px;
    margin-top: 50px;
    margin-right: 5px;
}

img {
    width: 100%;

}

.tab {
    width: 70%;
    height: 1px;
    background-color: grey;
    display: inline-block;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading {
    margin-left: 210px;

}

.bar {
    width: 70%;
    height: 200px;
    border: 1px solid grey;
    margin: auto;
    display: flex;

    font-family: helvetica, "Segoe UI", Arial, sans-serif;
    color: #222;
    font-size: 14px;
    position: relative;

}

.bar-img {
    height: 198px;
    width: 250px;

}

.bar-img img {
    width: 100%;
    height: 100%;
}

.bar-info {
    margin-left: 15px;
    margin-top: 20px;

}

#anchor {
    text-decoration: none;
    color: grey;
}

p {
    color: grey;
}

.cb-plus-ico {
    background-image: url(https://www.cricbuzz.com/images/cb_plus_sprite_v_1_1_5.png);
    display: inline-block;
    vertical-align: middle;


}

.buzz {
    width: 70%;
    height: 80px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    margin: auto;
    background-color: white;

}

.buzz h1 {
    margin-left: 0px;
}

.btn {
    margin-left: 20px;

}

#btn{
    border: 0px;
    background-color: white;
    width: 62px;
    font-size: 14px;
    color: black;

}

#btn:hover {
    background-color: #009270;
    color: white;
}

body {
    line-height: 1.5;
    font-family: 'poppins', sans-serif;

}

.footer {
    background-color: #24262b;
    gap: 0px;
}

.row {
    display: flex;
    justify-content: space-around;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-right: auto;
}

.container {
    max-width: 1170x;
    margin: auto;
}

.footer {
    width: 100%;
    padding: 25px;
    position: relative;
    margin-top: 50px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    margin-right: 30px;


}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: color #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;

}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

ul {
    list-style: none;
}

.height {
    height: 100px;
    width: 100px;
}

.para {
    color: #bbbbbb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 767px) {
    .footer-col {
        width: 100%;
    }
}