
.banner{
    width: 70%;
    height: 300px;
    background-color: black;
    box-sizing: border-box;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    justify-content: space-between;
    
}
.info{
    color: #fff;
    margin-left: 40px;
    margin-top: 10px;
   
    
}
.info div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 70px;
}
button{
    color: #fff;
    width: 200px;
    height: 30px;
    font-size: 15px;
    padding: 5px 0;
    background: #009270;
    border: 0;
    border-radius: 3px;
    outline: none;
    
}
.photo{
    width: 250px;
    height: 300px;
    margin-top: 50px;
margin-left: 90px;
}
.photo img{
    width: 100%;
}
.splide__arrow--next svg{
    position: relative;
    top: 0;
    right: 0px;
}
.splide__arrow--prev svg{
    position: relative;
    top: 0;
    right: 50px;
}
.container{
    width: 70%;
    margin: auto;
}
.box{
    width: 220px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
.product-img{
    width: 220px;
    height: 110px;
}
img{
    width: 100%;

}

.tab{
    width: 70%;
    height: 1px;
    background-color: grey;
    display: inline-block;
}
.tabs{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
        .bar{
            width: 70%;
            height: 200px;
            border: 1px solid black;
            margin: auto;
            display: flex;

            font-family: helvetica,"Segoe UI",Arial,sans-serif;
            color: #222;
            font-size: 14px;
            position: relative;

        }
        .bar-img{
            height: 200px;
            width: 250px;
            
        }
        .bar-img img{
            width: 100%;
            height: 100%;
        }
        .bar-info{
            margin-left: 15px;
            margin-top: 20px;
           
        }
        #anchor{
            text-decoration: none;
            color: grey;
        }
        p{
            color: grey;
        }
        .cb-plus-ico{
            background-image: url(https://www.cricbuzz.com/images/cb_plus_sprite_v_1_1_5.png);
            display: inline-block;
            vertical-align: middle;
            
           
        }
        .buzz{
            width: 70%;
            height: 110px;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
            margin: auto;
            
        }
        .buzz h1{
            margin-left: 20px;
        }
        .btn{
            margin-left: 20px;
            
        }
       #btn{
        border: 0px;
        background-color: white;
        width: 62px;
        font-size: 14px;
        color: black;
        
       }
       #btn:hover{
        background-color: black;
        color: white;
       }
       body{
        line-height: 1.5;
        font-family: 'poppins', sans-serif;
    
    }
    .footer{
        background-color: #24262b ;
       gap: 0px;
    }
   
    .row{
        display: flex;
        justify-content: space-around;
    }
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        margin-right: auto;
    }
    .container{
        max-width: 1170x;
        margin: auto;
    }
    .footer{
        width: 100%;
        padding: 25px;
        position: relative;
        margin-top: 500px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
        margin-right: 30px;
        

    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background: color #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;

    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 10px;
    }
    ul{
        list-style: none;
    }
    .height{
        height: 100px;
        width: 100px;
    }
.para{
    color: #bbbbbb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    @media(max-width: 767px){
        .footer-col{
            width: 50%;
            margin-bottom: 30px;
        }
    }
    @media(max-width: 767px){
        .footer-col{
            width: 100%;
        }
    }